/* CSS Document */
.head
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFF00;
}
.h1
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:250px;
width:750px;
}
.a
{
position:relative;
top:70px;
left:200px;
color:#FF0000;
font-size:24px;
font-style:italic;
}
.menu
{
height:50px;
width:1000px;
float:right;
background-color:#00FF00;
}
.menu ul li
{
display:inline;
padding:60px;
}
.menu ul a
{
text-decoration:none;
}
.footer
{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#CC33CC;
}
.web_development
{
color:#FFFFFF;
font-size:24px;
text-align:center;
}
.home
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#3366FF;
}
.image
{
float:right;
}
.content
{
height:600px;
width:500px;
float:left;
color:#FFFFFF;
font-size:15px;
text-align:justify;
}
.about
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;

background-image:url(../IMAGE/download.jpg);
background-repeat:no-repeat;
background-size:cover;
}
.img1
{
float:left;
}
.img2
{
float:left;
}
.img3
{
float:right;
}
.img4
{
float:left;
}
.img5
{
float:left;
}
.img6
{
float:right;
}
.service
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#33FFFF;
color:#6600FF;
font-size:24px;
text-align:center;
}
.contact
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FF00FF;
}
.map
{
float:left;
}
.details
{
height:300px;
width:1000px;
float:left;
color:#CC0033;
font-size:18px;
text-align:center;
}
.register
{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FF0000;
text-align:center;
font-size:18px;
color:#FFFF00;
}
